Repository merchise-autrement/xoeuf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check code smells (with Bugbear and Python 3.6), check formatting with black, run all Odoo 12 tests in Python 3.6, run all Odoo 12 tests in Python 3.8, build documentation, publish in our rtd

check code smells (with Bugbear and Python 3.6):
  image: python:3.6-alpine
  stage: check
  script:
  - 'apk add git
  
    pip install ''flake8-bugbear~=20.1'' ''xoutil~=2.1'' merchise.lint>=0.16 git+https://github.com/pycqa/pyflakes@4ed1ba41d1406dbb6c9ffbd369c2f523c2dc48f3
  
    merchise_lint
  
    '

check formatting with black:
  image: python:3.6
  stage: check
  script:
  - pip install 'black==20.8b1'
  - black --check xoeuf/

run all Odoo 12 tests in Python 3.6:
  needs:
  - check code smells (with Bugbear and Python 3.6)
  - check formatting with black
  image: registry.merchise.org/mercurio/odoo-docker:o${ODOO_VERSION}-${PYTHON_VERSION}
  services:
  - name: mdillon/postgis:10-alpine
    alias: postgres
  stage: test
  script:
  - 'mkdir -p vendor
  
    cd vendor
  
  ...

run all Odoo 12 tests in Python 3.8:
  needs:
  - check code smells (with Bugbear and Python 3.6)
  - check formatting with black
  image: registry.merchise.org/mercurio/odoo-docker:o${ODOO_VERSION}-${PYTHON_VERSION}
  services:
  - name: mdillon/postgis:10-alpine
    alias: postgres
  stage: test
  script:
  - 'mkdir -p vendor
  
    cd vendor
  
  ...

build documentation:
  image: registry.merchise.org/mercurio/odoo-docker:o12-3.8
  variables:
    PYTHON_VERSION: '3.8'
    ODOO_VERSION: '12'
  stage: build
  script:
  - 'set -x
  
    mkdir -p vendor
  
    cd vendor
  
  ...

publish in our rtd:
  image: alpine
  variables:
    GIT_STRATEGY: none
  stage: publish
  script:
  - 'apk add openssh rsync
  
    mkdir -p $HOME/.ssh
  
    chmod 700 $HOME/.ssh
  
    cp $RSA_KEY_FILE $HOME/.ssh/id_rsa
  
    chmod 600 $HOME/.ssh/id_rsa
  
    cp $SSH_CONFIG_FILE $HOME/.ssh/config
  
  ...

Remove CI job 'publish locally'
  .gitlab-ci.yml
Due: none

Add CI job to publish in Gitlab Pages.
  .gitlab-ci.yml
Due: none

Update CI jobs to deal with branch 'main' instead of 'master'
  .gitlab-ci.yml
Due: none

Start 2.5.0
  docs/source/history.rst
Due: build documentation, publish in our rtd

Add Domain.TRUE and Domain.FALSE.
  docs/source/history.rst
  xoeuf/osv/expression.py
Due: check code smells (with Bugbear and Python 3.6), check formatting with black, run all Odoo 12 tests in Python 3.6, run all Odoo 12 tests in Python 3.8, build documentation, publish in our rtd

Correct some docstrings.
  xoeuf/osv/expression.py
Due: check code smells (with Bugbear and Python 3.6), check formatting with black, run all Odoo 12 tests in Python 3.6, run all Odoo 12 tests in Python 3.8, build documentation, publish in our rtd

Add xoeuf.testing.rollbacked to allow testing with hypothesis and the DB.
  docs/source/history.rst
  docs/source/xoeuf/testing/db.rst
  xoeuf/testing/__init__.py
  xoeuf/testing/db.py
  xoeuf/tests/test_monetary/tests/test_monetary.py
  xoeuf/tests/test_property/tests/test_property_depends.py
  xoeuf/tests/test_timespan/tests/test_timespan.py
Due: check code smells (with Bugbear and Python 3.6), check formatting with black, run all Odoo 12 tests in Python 3.6, run all Odoo 12 tests in Python 3.8, build documentation, publish in our rtd

Release 2.5.0
  docs/source/history.rst
Due: build documentation, publish in our rtd

Path conditions:
  check code smells (with Bugbear and Python 3.6): any of: xoeuf/**/*.py
  check formatting with black: any of: xoeuf/**/*.py
  run all Odoo 12 tests in Python 3.6: any of: xoeuf/**/*.py
  run all Odoo 12 tests in Python 3.8: any of: xoeuf/**/*.py
  build documentation: any of: xoeuf/**/*.py, docs/**/*.rst
  publish in our rtd: any of: xoeuf/**/*.py, docs/**/*.rst
